@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css");
.bd-timetable {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  border: solid #f8f9fa;
}
.invalid-feedback{
  text-transform:capitalize
}